
.navbar {
    background-color: #00ac98;
}

.navbar-brand img {
    height: 40px;
}


.side-menu {
    background-color: #00796B;
    color: #fff;
    padding: 20px;
    width: 100%;
}

.side-menu .list-group-item {
    background-color: #00796B;
    color: #fff;
    border: none;
}

.side-menu .list-group-item.active {
    background-color: #004D40;
    font-weight: bold;
}

@media (min-width: 992px) {
    .side-menu {
        width: 200px;
        position: fixed;
        height: 100vh;
    }

    .main-content {
        margin-left: 220px;
    }
}


.description-card,
.documentation-card,
.comments-card {
    background-color: #00796B;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    color: #fff;
}


.comment-input {
    display: flex;
    gap: 10px;
}

.comment-input input {
    flex: 1;
}


footer {
    background-color: #004D40;
    color: #fff;
}

footer h6 {
    font-weight: bold;
}
