/* Estilo del Hero Section */
.hero-section {
    position: relative;
    height: 500px;
    overflow: hidden;
}

.hero-section img {
    object-fit: cover;
    height: 100%;
}

.hero-content {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    text-align: center;
}

.hero-content img {
    width: 120px;
}



