
.navbar {
    background-color: #00695C;
}

.navbar-brand img {
    height: 40px;
}

.side-menu {
    position: fixed;
    top: 56px; /* Altura de la navbar */
    left: 0;
    width: 200px;
    background-color: #00695C;
    height: 100%;
    padding-top: 20px;
}

.side-menu .list-group-item {
    background-color: #00796B;
    color: #fff;
    border: none;
}

.side-menu .list-group-item.active {
    background-color: #004D40;
    font-weight: bold;
}

.main-content {
    margin-left: 220px;
    padding: 20px;
}

.description-card, .documentation-card, .comments-card {
    background-color: #00796B;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    color: #fff;
}

.documentation-card i {
    color: #FF5722;
    margin-right: 5px;
}

.comment {
    margin-bottom: 10px;
}

.comment-input {
    display: flex;
    gap: 10px;
}

.comment-input input {
    flex: 1;
}

.footer-links {
    color: #0f413c;
}
