body {
    font-family: Arial, sans-serif;
}

.bg-teal {
    background-color: #006d6a;
}

.plan-card {
    padding: 20px;
    border-radius: 10px;
}

.card-title {
    color: #006d6a;
}

footer {
    background-color: #004f4d;
}

footer h5 {
    font-size: 1.2em;
    color: #fff;
}

footer ul li {
    font-size: 0.9em;
    color: #d3d3d3;
}
