body {
    background-color: #004D40; /* Color de fondo */
    color: #fff;
}

.navbar {
    background-color: #00695C;
}

.navbar-brand img {
    height: 40px; /* Tamaño del logo */
}

.card {
    background-color: #00796B;
    color: #fff;
    border: none;
    margin-bottom: 20px;
}

.card img {
    width: 100%;
    height: auto;
}

.card-body {
    text-align: center;
}

.footer-links {
    color: #B2DFDB;
}
